*.ivf
*.yuv
*.y4m
*.user
*.o
*.db
*.sdf
*.suo
*.opendb
*.vs
*.bin
*.opensdf
*.log
# .vscode
.cache/
Bin
Build
build
compile_commands.json
test/clang-format-diff.py
test/vectors/
test/docs/
!Build/linux/build.sh
!Build/windows/build.bat
!Build/linux/build.sh
!Build/obj1fastdownloader.cmake
.DS_Store
third_party/aom/lib/*/aom.lib
third_party/aom/lib/*/*/aom.lib
third_party/cpuinfo
third_party/safestringlib/dummy.c
/offline_ci/
Data/
Output/
.vscode/*
repomix.*

# python
__pycache__/
*.pyc
*.egg-info/
.venv
venv/
*.tar.gz

# test
*.avi
*.mkv
*.xlsx

# lldb
.lldbinit-project
temp/*

# cmake
CMakeUserPresets.json
*.ipynb

# rl training
*.zip
*.csv
python-gym/src/pyencoder/environment/rl_training_output/
